.asap {
    font-family: 'Ubuntu Condensed', sans-serif;
    
}
.center{
    display: inline-block;
    margin: auto;
    
}
.hideThis{
    opacity: 0;
}
.container {
    text-align: center;
}
body {
    background-image: url("assets/images/gplaypattern/gplaypattern.png");
    background-attachment: fixed;
}

#buttonDiv {
    /* display: block; */
    margin: 20px 5px;
    width: 150px;
    height: 530px;
    overflow-y: auto;
    border: 2px double black;
    border-radius: 10px;
    padding: 10px 5px;
    float: left;
    background-image: url("assets/images/original.jpg");
    background-attachment: fixed;

}
#animals-view {
    /* display:block; */
    margin: 20px 5px;
    width: 310px;
    height: 550px;
    overflow-y: auto;
    border: 2px double black;
    border-radius: 10px;
    padding: 0 25px;
    background-image: url("assets/images/original.jpg");
    background-attachment: fixed;
}
img {
    width: 200px;

}
input {
    border: 2px double black;
    border-radius: 10px;
    padding: 2px 4px;
    font-family: "Ubuntu Condensed", sans-serif;

}
input:focus {
    outline: 1px solid lightgray;
    outline-offset: 0px
}

button {
    margin:2px 2px;
    width: 120px;
    background-color: black;
    color: white;
    float: none;
    border:none;
    border-radius: 5px;
    padding: 3px 0px;
    font-family: "Ubuntu Condensed", sans-serif;
}
button:focus {
    outline: 1px solid lightgray;
    outline-offset: 0px
}
button:hover{
    margin: 0px 2px;
    border: 2px solid orange;
}




/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:black; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

}